.square {
  background: #fff;
  border: 1px solid #999;
  /* border: none; */
  /* margin: -4px; */
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 120px;
  height: 100px;
  width: 100px;
  text-align: center;
}

.current {
  border-color: red;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.img-player {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}